@import '../../styles/variables.scss';

.results {
  padding: 0 25px;
  h4 {
    font-family: $fontHeaders;
    font-weight: 600;
    font-size: 2rem;
    margin-bottom: 22px;
  }
  a {
    display: flex;
    margin-bottom: 25px;
    height: 51px;
    text-decoration: none;
  }
  li {
    display: flex;
    align-items: center;
    img {
      height: 100%;
      width: 50px;
      object-fit: cover;
      border-radius: 50%;
    }
    h3 {
      margin-left: 9px;
      font-weight: 600;
      font-size: 2rem;
      color: $acentuation;
      font-family: $fontHeaders;
    }
  }
}
