@import '../../styles/variables.scss';

.editProfile {
  padding-bottom: 15px;
  h2 {
    text-align: center;
    color: $light;
    font-weight: 900;
    line-height: 35px;
    padding-bottom: 20px;
  }
  .editProfile__link {
    color: $main;
    text-decoration: none;

    p {
      display: flex;
      align-items: center;
      font-size: 18px;
      span {
        padding-left: 5px;
        font-weight: 700;
      }
    }
  }
}
