@import '../../styles/variables.scss';

.profileEditForm {
  label {
    display: block;
    margin-bottom: 10px;
  }

  &-item {
    width: 100px;
    height: 100px;
    position: relative;
    margin-bottom: 25px;
    img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
    }
    .profileEditForm__file-input {
      background-color: transparent;
      position: absolute;
      top: 0;
      height: 100px;
      width: 100px;
      padding: 0;
      display: flex;
      align-items: center;
    }

    .profileEditForm__file-input::-webkit-file-upload-button {
      visibility: hidden;
    }

    .profileEditForm__file-input::before {
      content: 'Editar';
      width: 100px;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.733);
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      position: absolute;
      left: 0;
    }
  }

  .cover {
    width: 100%;
    height: 200px;

    img {
      border-radius: 0;
    }

    .profileEditForm__file-input-cover {
      width: 100%;
      height: 100%;
      border-radius: 0;
      background-color: transparent;
      position: absolute;
      padding: 0;
      display: flex;
      top: 0;
    }

    .profileEditForm__file-input-cover::before {
      content: 'Editar';
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.733);
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  input {
    background-color: $lightOrange;
  }

  input[type='file'] {
    color: white;
    font-size: 25px;
    font-weight: 600;
  }

  button {
    background-color: $blue;
  }
}
