@import '../styles/variables.scss';

form {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;

  input {
    border: none;
    padding: 5px 20px;
    border-radius: 60px;
    background-color: transparent;
    width: 100%;
    height: 60px;
    margin-bottom: 25px;
    color: white;
    font-size: 17px;
    outline: none;
    font-family: 'Open Sans';
    background-color: #d9d9d961;
  }

  input::placeholder {
    color: white;
    font-size: 16px;
  }

  button {
    border: none;
    margin: 5px auto 0;
    font-size: 16px;
    height: 60px;

    color: white;
    padding: 15px 25px;
    border-radius: 50px;
    font-family: $fontMain;
    border: 1px solid $gray;
    background-color: transparent;
    border-radius: 60px;
    color: #ffffff;
    letter-spacing: 1px;
    min-width: 180px;
    display: block;
    font-weight: 500;
  }
}
