$fontMain: 'Open Sans';
$firstGradientColor: #8e54e9e3;
$secondGradientColor: #4776e6e3;
// $title-color: #7c8eaa;
$textColor: #686868;

//Paleta de colores Alegre
$blue: #0084ff;
$gray: #d9d9d9;
$lightOrange: #fbcc02;
$orange: #ff8400;
$like: #ec004e;
