$fontMain: 'Open Sans';
$mainGradient: linear-gradient(to right, #8e54e9e3, #4776e6e3);
$firstGradientColor: #8e54e9e3;
$secondGradientColor: #4776e6e3;
// $title-color: #7c8eaa;
$textColor: #686868;
