$fontMain: 'Lato', sans-serif;
$fontSecondary: 'Fredoka One', cursive;
$firstGradientColor: #f1507ee3;
$secondGradientColor: #303947e3;
// $title-color: #7c8eaa;
$textColor: #686868;

//Paleta de colores Alegre
$blue: #0084ff;
$gray: #d9d9d9;
$lightOrange: #fbcc02;
$orange: #ff8400;
$like: #f24053;

$bg: #29303a;
$soft: #ffffff96;
$gray: #d9d9d9;

$primary: #323232;
$secondary: #393e46;
// $secondary: #222831;
// $secondary: #171c22;
$main: #fd7014;
$light: #eeeeee;
