.logo {
  font-family: 'Fredoka One', cursive;
  font-size: 22px;
  display: flex;
  justify-content: center;
  align-items: baseline;
  text-decoration: none;
  color: black;
  p {
    margin-left: 3px;
  }
}
