.logo {
  font-family: 'Fredoka One', cursive;
  font-size: 28px;
  display: flex;
  justify-content: center;
  align-items: baseline;
  text-decoration: none;
  color: white;
  margin: 20px 0;
  p {
    margin-left: 3px;
  }
}
