@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.Search {
  h2 {
    font-size: 2.4rem;
    font-family: $fontHeaders;
    font-weight: 600;
    margin: 17px 0 35px;
    padding: 0 25px;
  }
  &__profilePicture {
    position: absolute;
    top: 11px;
    right: 23px;
    width: 75px;
    height: 75px;
    img {
      border-radius: 50%;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  form {
    padding: 0 25px 31px;
    input {
      display: block;
      width: 100%;
      border: none;
      border-bottom: 1px solid $gray200;
      padding-bottom: 5px;
      font-family: $fontParagraph;
      font-size: 1.6rem;
      font-weight: 400;
      outline: none;
      margin-bottom: 16px;
    }

    input::placeholder {
      font-family: $fontParagraph;
      font-size: 1.6rem;
      font-weight: 400;
      color: black;
    }

    button {
      @include mainButton();
    }
  }

  &__results {
    padding: 0 25px;
    h4 {
      font-family: $fontHeaders;
      font-weight: 600;
      font-size: 2rem;
      margin-bottom: 22px;
    }
    a {
      display: flex;
      margin-bottom: 25px;
      height: 51px;
    }
    li {
      display: flex;
      align-items: center;
      img {
        height: 100%;
        width: 50px;
        object-fit: cover;
        border-radius: 50%;
      }
      h3 {
        margin-left: 9px;
        font-weight: 600;
        font-size: 2rem;
        color: $acentuation;
        font-family: $fontHeaders;
      }
    }
  }
}

@media screen and (min-width: 769px) {
  .Search {
    &__profilePicture {
      img {
        display: none;
      }
    }
    form {
      button {
        width: 400px;
        display: block;
      }
    }
    &__results {
      a {
        display: flex;
        margin-bottom: 25px;
        height: 51px;
        max-width: 600px;
      }
      li {
        display: flex;
        align-items: center;
        width: 100%;
        img {
          height: 100%;
          width: 50px;
          object-fit: cover;
          border-radius: 50%;
        }
        h3 {
          margin-left: 9px;
          font-weight: 600;
          font-size: 2rem;
          color: $acentuation;
          font-family: $fontHeaders;
        }
      }
    }
  }
}
