form {
  padding: 10px;
}

input {
  border: none;
  background-color: #80808061;
  color: black;
  width: 100%;
  font-size: 13px;
  padding: 15px 10px;
  outline: none;
  margin: 10px 0 15px;
}

button {
  color: white;
  background-color: #ff0076;
  margin: 15px auto 0;
  display: block;
  font-size: 14px;
  padding: 12px 30px;
  border: none;
  cursor: pointer;
}
